body {
    display: grid;
    place-items: center;
    margin: 2vh;
  }

header ul{
    justify-content: end;
}

header ul li{
    margin-right: 5rem;
}

ul {
    list-style: none;
    display: flex;
justify-content: space-between
}

a{
    text-decoration: none;
}