body {
    display: grid;
    place-items: center;
    margin: 4vh;
  }

  img {
    width: 200px;
  }

header ul{
    justify-content: end;
}

header ul li{
    margin-right: 5rem;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: .1rem;
    list-style: none;
    margin-top: 1vh;
}

a{
    text-decoration: none;
}